
.site-header {
  font-family: Lucida Console;
  background-color: #e3f2fd;
}

.font {
  font-family: Lucida Console;
}

.hero-image {
  position: center;

}

.footer {
  background-color: #e3f2fd;
  width: auto;
  padding: 0 15px;
  text-align: center;
}
