
.site-header {
  font-family: Lucida Console;
  background-color: #e3f2fd; opacity: 0.8; filter: alpha(opacity=50);
  border-color: #d3d3d3;
}

.font {
  font-family: Lucida Console;
}

.background {
  background-color: #e3f2fd;
}
.hero-image {
  position: center;

}

.footer {
  background-color: #e3f2fd;
  width: auto;
  padding: 0 15px;
  text-align: center;
}

#AboutMe {
  font-weight: bold;
  text-align: center;
  font-size: 2em;
}

.book-title {
  font-weight: bold;
  text-align: center;
  font-size: 2em;
}

.text {
  font-size: 15em;
  text-align: center;
  font-family: Impact;
}
